## # Introduction
<p><img src="https://assets.datacamp.com/production/project_981/img/lego_unsplash.jpg" alt="A picture of Lego characters!"></p>
<h3 id="letslookatlegosets">Let's look at Lego sets!</h3>
<p>Lego is a household name across the world, supported by a diverse toy line, hit movies, and a series of successful video games. In this project, we are going to explore a key development in the history of Lego: the introduction of licensed sets such as Star Wars, Super Heroes, and Harry Potter.</p>
<p>It may not be widely known, but Lego has had its share of ups and downs since its inception in the early 20th century. This includes a particularly rough period in the late 90s. As described in <a href="https://www.businessinsider.com/how-lego-made-a-huge-turnaround-2014-2?r=US&IR=T">this article</a>, Lego was only able to survive due to a successful internal brand (Bionicle) and the introduction of its first licensed series: Star Wars. In the instructions panel are the two questions you will need to answer to complete this project.</p>
<p>Before diving into our analysis though, let's become familiar with the two datasets that will help you with this project:<br><br></p>
<div style="background-color: #ebf4f7; color: #595959; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/lego_sets.csv</b></div>
<ul>
    <li><b>set_num:</b> A code that is unique to each set in the dataset. <b><i>This column is critical, and a missing value indicates the set is a duplicate or invalid!</i></b></li>
    <li><b>set_name:</b> A name for every set in the dataset (note that this can be the same for different sets).</li>
    <li><b>year:</b> The date the set was released.</li>
    <li><b>num_parts:</b> The number of parts contained in the set.<b><i> This column is not central to our analyses, so missing values are acceptable.</i></b></li>
        <li><b>theme_name:</b> The name of the sub-theme of the set.</li>
    <li><b>parent_theme:</b> The name of the parent theme the set belongs to. Matches the `name` column of the `parent_themes` csv file.</li>
</ul>

<div style="font-size:20px"><b>datasets/parent_themes.csv</b></div>
<ul>
    <li><b>id:</b> A code that is unique to every theme.</li>
    <li><b>name:</b> The name of the parent theme.</li>
    <li><b>is_licensed:</b> A Boolean column specifying whether the theme is a licensed theme.</li>
</ul>
    </div>
<p>From here on out, it will be your task to explore and manipulate the existing data until you are able to answer the two questions described in the instructions panel. Feel free to add as many cells as necessary. Finally, remember that you are only tested on your answer, not on the methods you use to arrive at the answer!</p>
<p><em><strong>Note:</strong> If you haven't completed a DataCamp project before you should check out the <a href="https://projects.datacamp.com/projects/33">Intro to Projects</a> first to learn about the interface. In this project, you also need to know your way around <code>pandas</code> DataFrames and it's recommended that you take a look at the course <a href="https://www.datacamp.com/courses/data-manipulation-with-pandas">Data Manipulation with pandas</a>.</em></p>

In [2]:
# Use this cell to begin your analyses, and add as many cells as you would like!
import pandas as pd
lego_sets = pd.read_csv('datasets/lego_sets.csv')
lego_sets = lego_sets.dropna(subset=['set_num', 'name', 'theme_name'])
parent_themes = pd.read_csv('datasets/parent_themes.csv')

In [3]:
the_force = int((609/1179)*100)

In [4]:
parent_licensed = parent_themes[parent_themes["is_licensed"] == True]
parent_licensed

      id                              name  is_licensed
7    158                         Star Wars         True
12   246                      Harry Potter         True
16   263          Pirates of the Caribbean         True
17   264                     Indiana Jones         True
18   269                              Cars         True
19   270                            Ben 10         True
20   271                  Prince of Persia         True
21   272             SpongeBob SquarePants         True
23   275                         Toy Story         True
33   317                            Avatar         True
43   388             Disney's Mickey Mouse         True
77   482                      Super Heroes         True
88   561  The Hobbit and Lord of the Rings         True
89   570      Teenage Mutant Ninja Turtles         True
91   575                   The Lone Ranger         True
93   577                         Minecraft         True
95   579                   Disney Princess         True
103  602                    Jurassic World         True
104  603                        Scooby-Doo         True
107  606                       Angry Birds         True
108  607                      Ghostbusters         True
109  608                            Disney         True

In [5]:
lego_licensed = lego_sets[lego_sets['parent_theme'].isin(parent_licensed["name"].unique())]
lego_licensed

,set_num,name,year,num_parts,theme_name,parent_theme
44,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars
45,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars
54,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars
57,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars
95,10075-1,Spider-Man Action Pack,2002,25.0,Spider-Man,Super Heroes
...,...,...,...,...,...,...
11811,VP-12,Star Wars Co-Pack of 7121 and 7151,2000,2.0,Star Wars Episode 1,Star Wars
11816,VP-2,Star Wars Co-Pack of 7110 and 7144,2001,2.0,Star Wars Episode 4/5/6,Star Wars
11817,VP-3,Star Wars Co-Pack of 7131 and 7151,2000,2.0,Star Wars Episode 1,Star Wars
11818,VP-4,Star Wars Co-Pack of 7101 7111 and 7171,2000,3.0,Star Wars Episode 1,Star Wars
11822,VP-8,Star Wars Co-Pack of 7130 and 7150,2000,NaN,Star Wars Episode 4/5/6,Star Wars

In [6]:
q2_df = lego_licensed[["year","set_num","parent_theme"]]
q2_df[q2_df["year"] == 2000]

       year       set_num           parent_theme
2523   2000        3340-1              Star Wars
2525   2000        3341-1              Star Wars
2526   2000        3342-1              Star Wars
2527   2000        3343-1              Star Wars
3705   2000     4151270-1              Star Wars
3794   2000        4164-1  Disney's Mickey Mouse
3795   2000        4165-1  Disney's Mickey Mouse
3796   2000        4166-1  Disney's Mickey Mouse
3797   2000        4167-1  Disney's Mickey Mouse
3810   2000        4178-1  Disney's Mickey Mouse
7724   2000        7104-1              Star Wars
7732   2000        7115-1              Star Wars
7780   2000        7124-1              Star Wars
7824   2000        7134-1              Star Wars
7840   2000        7144-1              Star Wars
7850   2000        7155-1              Star Wars
7854   2000        7159-1              Star Wars
7875   2000        7180-1              Star Wars
7876   2000        7181-1              Star Wars
7877   2000        7184-1              Star Wars
7882   2000        7190-1              Star Wars
7883   2000        7191-1              Star Wars
9167   2000        8000-1              Star Wars
9169   2000        8001-1              Star Wars
9171   2000        8002-1              Star Wars
11772  2000  swminifigs-1              Star Wars
11810  2000         VP-11              Star Wars
11811  2000         VP-12              Star Wars
11817  2000          VP-3              Star Wars
11818  2000          VP-4              Star Wars
11822  2000          VP-8              Star Wars